<!-- banner -->
<div class="banner">
    <div class="w3l_banner_nav_left">
    </div>
    <div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner3">
            <h3>Products we Provide<span class="blink_me"></span></h3>
        </div>
        <div class="w3l_banner_nav_right_banner3_btm">
            <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
                <div class="view view-tenth">
                    <img src="../../../assets/images/land.jpg" alt=" " class="img-responsive" />
                    <div class="mask">
                        <h4>Freshly organic stores</h4>
                        <p>One destination for organic solution</p>
                    </div>
                </div>
                <h4>Landscape Construction</h4>
                <ol>
                    <li>Shadenet construction</li>
                    <li>Transform your backyard</li>
                </ol>
            </div>
            <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
                <div class="view view-tenth">
                    <img src="../../../assets/images/care.jpg" alt=" " class="img-responsive" />
                    <div class="mask">
                        <h4>Seeds and Plants care </h4>
                        <p>We will take care our your plants.We provide maintainence.</p>
                    </div>
                </div>
                <h4>Seeds and Plants care</h4>
                <ol>
                    <li>Monthly maintainence</li>
                    <li>yearly maintainence</li>
                    <li>periodic enchancement</li>
                </ol>
            </div>
            <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
                <div class="view view-tenth">
                    <img src="../../../assets/images/sale.jpg" alt=" " class="img-responsive" />
                    <div class="mask">
                        <h4>Freshly organic stores</h4>
                        <p>Organic product for sale.</p>
                    </div>
                </div>
                <h4>Products for sale</h4>
                <ol>
                    <li>Seeds package</li>
                    <li>Organic Vegetables</li>
                    <li>Organic Fruits</li>
                    <li>Terrace Gardening Kit</li>
                </ol>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3></h3>
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6> <b>Seed package</b>
                </h6>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">

                    </div>
                </div>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">

                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="single.html"><img src="../../../assets/images/3.3.jpg" alt=" " class="img-responsive" /></a>
                                            <p><b>We provide a exculsive Native seed package contains</b></p>

                                            <ol>
                                                <li>Amaranth seeds</li>
                                                <li>Tomato seeds</li>
                                                <li>Potato seeds</li>
                                                <li>Palak seeds</li>
                                                <li>Red Beans seeds</li>
                                                <li>Green Beans seeds</li>
                                                <li>chilli seeds</li>
                                                <li>Lady's finger seeds</li>
                                                <li>onion seeds</li>
                                                <li>bottle gourd seeds <br><b>You can purchase it in the buy now section</b> </li>
                                            </ol>
                                            <h4>Rs250<span>Rs500</span></h4>
                                        </div>

                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6><b>Organic Vegetable combo</b></h6>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">

                    </div>
                </div>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="../../../assets/images/offer.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="single.html"><img src="../../../assets/images/vegetables.jpg" alt=" " class="img-responsive" /></a>
                                            <p><b>Organic vegies combo</b></p>
                                            <ol>
                                                <li>Spinach-1bunch</li>
                                                <li>Tomato 2-kg</li>
                                                <li>Potato 1-kg</li>
                                                <li>Palak 1-bunch</li>
                                                <li>Red Beans -500g</li>
                                                <li>Green Beans -500g</li>
                                                <li>chilli -100g</li>
                                                <li>Lady's finger -1kg</li>
                                                <li>onion 2-kg <br><b> You can purchase it in the buy now section</b></li>
                                            </ol>
                                            <h4>Rs180 <span>Rs250</span></h4>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>
            <div class="w3ls_w3l_banner_nav_right_grid1">
                <h6><b>Organic fruit combo</b></h6>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">

                    </div>
                </div>
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="../../../assets/images/offer.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="single.html"><img src="../../../assets/images/10.png" alt=" " class="img-responsive" /></a>
                                            <p><b>Organic Fruits Combo</b></p>
                                            <ol>
                                                <li>Orange - 1kg</li>
                                                <li>Banana - 1kg</li>
                                                <li>Pomograte - 2kg</li>
                                                <li>lichi -1kg</li>
                                                <li>Kiwi - 5pcs</li>
                                                <li>Apple - 5pcs <br><b> You can purchase it in the buy now section</b></li>
                                            </ol>
                                            <h4>Rs500 <span>Rs850</span></h4>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 w3_footer_grid">
            <h3>information</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="about.html">About Us</a></li>
                <li><a href="products.html">Best Deals</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>policy info</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="faqs.html">FAQ</a></li>
                <li><a href="privacy.html">privacy policy</a></li>
                <li><a href="privacy.html">terms of use</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>what in stores</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="vegetables.html">Vegetables</a></li>
                <li><a href="fruits.html">Fruits</a></li>
            </ul>
        </div>

        <div class="clearfix"> </div>
        <div class="agile_footer_grids">

            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">

        </div>
    </div>
</div>
<!-- //footer -->