<body>
    <!-- header -->
    <div class="agileits_header">

        <div class="w3l_search">
            <form action="#" method="post">
                <input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
                <input type="submit" value=" ">
            </form>
        </div>
        <div class="product_list_header">
            <form action="#" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="Buy Now" routerLink='/create-product' class="button" />
                </fieldset>
            </form>
        </div>

        <div class="w3l_header_right1">
            <h2><a href="#" routerLink='/contact'>Contact Us</a></h2>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function() {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function() {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="index.html"><span>Freshly</span> Store</a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                    <li><a href="#" routerLink='/'>Home</a><i>/</i></li>
                    <li><a href="#" routerLink='/about'>About Us</a><i>/</i></li>
                    <li><a href="#" routerLink='/product'>Product</a><i>/</i></li>
                    <li><a href="#" routerLink='/service'>Service</a><i>/</i></li>
                    <li><a href="#" routerLink='/admin'>Admin</a></li>
                </ul>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+91-987456*****</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:Freshly@grocery.com">Freshly@grocery.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->